





  <div class="container">

      <div class="row">
        <div class="panel panel-info">
          <div class="panel panel-heading">
                <h1 style="margin-left: 35px;"> <span class="label label-warning" >Edit your contest</span></h1>
                <br />
            </div>
            <div class="panel panel-body">
                <table class="table table-bordered table-striped table-responsive">
                  <thead>

                      <tr>
                          <div class="row">
                      <div class="col-md-3"><th>Contest Name</th></div>
                      <div class="col-md-3"><th>Start time</th></div>
                      <div class="col-md-3"><th>End time</th></div>
                      <div class="col-md-3"><th>Organized by</th></div>
                      </div>
                      <tr>
                    </thead>

                    <tbody>



                    <tr *ngFor='let c of Contest'>
                          <div class="row">

                          <div class="col-md-3">
                          <td><a role="button" (click)="editOrViewContest(c._id)">{{c.Name}}</a></td>
                            </div>

                            <div class="col-md-3">
                                <td>{{c.Start_time}}</td>
                                  </div>

                                  <div class="col-md-3">
                                      <td>{{c.End_time}}</td>
                                        </div>

                                        <div class="col-md-3">
                                            <td>{{c.Organized_by}}</td>
                                              </div>


                            <!--<div class="col-md-3">
                                <button type="button" class="btn btn-info" (click)="editOrViewContest(c._id)">Edit/View</button>
                              </div>

                              <div class="col-md-3">
                                <button type="button" class="btn btn-danger" (click)="deleteChosenContest(c._id)">Delete</button>
                              </div>-->


                        </div>


                  </tr>


                </tbody>
                </table>
                </div>
                </div>
            </div>
    </div>
