
input[type="checkbox"]{
  width:20px;
  height:20px;
}

.collapse-button{
 background-color:skyblue;
}


.collapse-question{
  display:none;
}

.display-questions{
  display: block;
}



div.ex1 {
  background-color:#DFF0D8;
  margin: 15px;
  width: 500px;
  height: 200px;
  overflow: auto;
  /* overflow : scroll */
}
