
  <h1 style="text-align: center">Edit your Quiz!</h1>

  <div *ngIf='flag == 0'>
<div *ngFor='let c of fetchedContests'>
  <ul>

    <li><button type="button" class="btn btn-primary" [(ngModel)]="c._id" (click)="supplyId(c._id)" name="{{c.Name}}" ngDefaultControl>{{c.Name}}</button>
      </li>
    </ul>
 </div>
  </div>


      <div *ngIf='flag == 1'>
  <div class="contest">

  <form (submit)="editContest()">
  <table>
  <tr><td>Name of the Quiz: </td><td><input type="text" [(ngModel)]="Name" name="Name"></td></tr>
  <tr>
    <td>Start time:</td>
     <td><input type="date" [(ngModel)]="st_temp" name="Start_time"  value="{{st_temp}}"></td>
    <td><input type="time" [(ngModel)]="st2" name="st2" value={{st2}}></td>
    </tr>
  <tr>
    <td>End time: </td><td><input type="date" [(ngModel)]="et_temp" name="End_time"  value="{{et_temp}}"></td>
    <td><input type="time" [(ngModel)]="et2" name="et2" ></td>
  </tr>
  <tr><td>Organized by:</td> <td><input type="text" [(ngModel)]="Organized_by" name="Organized_by"  value="{{Organized_by}}"></td></tr>
  <tr><td> Contest link:</td><td> <input type="text" [(ngModel)]="Contest_Link" name="Contest_Link"  value="{{Contest_Link}}"></td></tr>

<!--
  <tr>
    <td><label>QUESTIONS ARE:</label></td>
  </tr>

  <tr><ul style="list-style:none">
      <div *ngFor='let q of Questions'>
      <li>
          <button class="btn btn-primary" type="button" (click)="collapse(q)" id="{{q}}">
              +
              </button>
        {{q.title}}
        <button type="button" (click)="removeQuesFromArray(q)">remove question</button>

        <div [ngClass]="{'collapse-question': q.collapse_flag == true}">
            <ul>
              <div *ngFor='let o of q.options'>
                <li>{{o}}


                </li>
              </div>
            </ul>
       </div>

      </li>
      </div>
    </ul>
  </tr>
-->
</table>


    <input type="submit" value="Edit Questions" class="btn btn-success">
    </form>
    </div>
    </div>
