<div class="container">

  <div class="row">
        <div *ngIf='flag == 0'>
            <h1 style="margin-left: 15px;"> <span class="label label-warning" >Edit your contest</span></h1>
            <br />
            <div *ngFor='let c of fetchedContests'>
                <div class="col-md-6">
              <ul class="list-group">

                    <li class="list-group-item">
                      <div class="row">

                      <div class="col-md-6">
                      <h4>{{c.Name}}</h4>
                        </div>

                        <div class="col-md-3">
                      <button type="button" class="btn btn-primary" [(ngModel)]="c._id" (click)="supplyId(c._id)" name="{{c.Name}}" ngDefaultControl>Edit/View</button>
                          </div>

                          <div class="col-md-2">
                      <button type="button" class="btn btn-danger"  (click)="deleteContest(c._id)" ngDefaultControl>Delete</button>
                            </div>

                    </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
</div>




<div *ngIf='flag == 1'>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="text-align: center">Create Quiz!</h1>
                <form class="form-group" ngNativeValidate (submit)="editContest()">

                    <label>Name of the Quiz:</label>
                    <input type="text" [(ngModel)]="Name" name="Name" required="true" class="form-control" value="{{Name}}">

                    <br>

                    <div class="row">

                        <div class="col-md-6">
                            <label>Start Date:</label>
                            <input type="date" [(ngModel)]="st_temp" name="Start_time" value={{st_temp}} class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Start time:</label>
                            <input type="time" [(ngModel)]="st2" name="st2" value={{st2}} class="form-control">
                        </div>
                    </div>
                    <br>


                    <div class="row">
                        <div class="col-md-6">
                            <label> End Date: </label>
                            <input type="date" [(ngModel)]="et_temp" name="End_time" required="true" class="form-control" value={{et_temp}}>
                        </div>
                        <div class="col-md-6">
                            <label> End time: </label>
                            <input type="time" [(ngModel)]="et2" name="e_time" required="true" class="form-control" value={{et2}}>
                        </div>
                    </div>
                    <br>

                    <label>Organized by:</label>
                    <input type="text" [(ngModel)]="Organized_by" name="Organized_by" required="true" class="form-control" value="{{Organized_by}}">
                    <br>



                    <input type="submit" value="Edit Questions" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
