.addnewquestions {
  width: 900px;
  margin: 5em auto;
  padding: 10px;
  color:black;
  background-color:gainsboro;
  border-radius: 1em;
}
td{
  padding: 7px;
  spacing:5px;
}
.ngx-editor{
  background-color:whitesmoke;
  color: black;

}
