<div class="container">
    <h1>Add Questions</h1>

    <form class="form-group" ngNativeValidate (submit)="addQuestionToDB()" (keydown.enter)="$event.preventDefault()">
        <div class="row">
          <div class="col-md-12">

            <label>Title of the question:</label>
            <input type="text" [(ngModel)]="title" name="title" required="true" class="form-control" placeholder="Enter the title of the question here">
            </div>
        </div>

        <div class="row">
            <div [innerHTML]="description">{{description}}</div>
        </div>

        <div class="row">

            <div class="col-md-3">

               <br /> <label>Author:</label>
                <input type="text" [(ngModel)]="author" name="author" class="form-control" placeholder="who is the author of this question?" >

            </div>

            <div class="col-md-3">
                <br/><label>Domain:</label>
                <!--<input type="text" [(ngModel)]="domain" name="domain" required="true" class="form-control" placeholder="what domain do this question belong to?">-->


                <input list="domains"  [(ngModel)]="domain" name="domain" required="true" class="form-control" placeholder="Domain of the question">

                <datalist id="domains">
                    <div  *ngFor='let s of sample_domains'>
                  <option value={{s}}>
                    </div>
                </datalist>




            </div>

            <div class="col-md-3">

                <br/><label>Sub Domain:</label>
                <input type="text" [(ngModel)]="subdomain" name="subdomain" class="form-control" placeholder="Enter sub domain, if any required">
            </div>

            <div class="col-md-3">
               <br /> <label>Level</label>
                <select [(ngModel)]="level" name="level" required="true" class="form-control">
                    <option value="Beginner">Beginner</option>
                    <option value="Easy">Easy</option>
                    <option value="Normal">Normal</option>
                    <option value="Hard">Hard</option>
                    <option value="Very Hard">Very Hard</option>
                </select>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

               <br /> <label>Keywords</label>

            <ngx-tags-input class="form-control" (onTagsChanged)="onTagsChanged($event)" [(ngModel)]="temp_keywords" name="temp_keywords" placeholder="add some topic tags or keywords"></ngx-tags-input>
            </div>

            <div class="col-md-6">

               <br /> <label>Company tags</label>

                <ngx-tags-input  class="form-control" (onTagsChanged)="onTagsChanged($event)" [(ngModel)]="temp_ctags" name="temp_ctags" placeholder="which company is designing this question?"></ngx-tags-input>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
               <br /> <label>Type:</label>
                <select [(ngModel)]="type" name="type" class="form-control">
                    <option value="checkbox" selected="selected">MCQ with multiple correct answer</option>
                    <option value="radio">Mcq with only one correct answer</option>
                    <option value="text">Fill in the blank</option>
                </select>
            </div>

            <div class="col-md-6">

                <div *ngIf='type =="radio" || type =="checkbox" '>

                    <div class="row">
                        <div class="col-md-6">

                          <br />  <label>Add options one by one</label>
                            <br />

                            <input type="text" [(ngModel)]="newoption" name="newoption" required="true" placeholder="content" class="form-control">
                            <br />
                            <button type="button" (click)="addOption(newoption)" class="btn btn-primary">Add option</button>

                            <ul style="list-style:none">
                                <div *ngFor='let o of temp_options;let i=index;'>
                                    <li>

                                        <div *ngIf='optionflag == 1  '> {{i+1}}.{{o}} &nbsp;
                                            <button type="button" (click)="deleteoption(o)" style="background-color:orange">X</button>
                                        </div>

                                    </li>
                                </div>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <div *ngIf="type=='radio'">
                              <br />  <label>Add answer</label>
                                <input type="number" [(ngModel)]="ans" name="ans" required="true" class="form-control">
                                <br />
                            </div>

                            <div *ngIf="type=='checkbox'">
                                <br /><label>Add answer</label>
                                <input type="number" [(ngModel)]="ans" name="ans" required="true" class="form-control">
                                <br />
                            </div>

                            <button type="button" (click)="addMcqAnswers(ans)" class="btn btn-warning">Save Answer</button>

                            <ul style="list-style:none">
                                <div *ngFor='let a of number_ans_array'>
                                    <li>

                                        <div *ngIf='ansflag == 1  '>Option no:&nbsp;{{a}} &nbsp;
                                            <button type="button" (click)="deleteMcqAnswer(a)" style="background-color:orange">X</button>
                                        </div>

                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div *ngIf='type == "text"'>
                        <br /><label>Add answers one by one</label>
                      <div class="row">


                          <div class = "col-md-8">

                        <input type="text" [(ngModel)]="text_ans" name="text_ans" required="true" class="form-control"></div>
                        <div class="col-md-4">
                        <button type="button" (click)="addFibAnswers(text_ans)" class="btn btn-primary">Add answer</button>
                        </div>
                        </div>

                        <ul style="list-style: none">
                            <div *ngFor='let a of text_ans_array'>
                                <li>

                                    <div *ngIf=' fibansflag == 1  '> {{a}} &nbsp;
                                        <button type="button" (click)="deleteFibAnswer(a)" style="background-color:orange">X</button>
                                    </div>

                                </li>
                            </div>
                        </ul>

                    </div>



          </div>

          </div>

            <div class="row">
                <div class="col-md-6">

                    <br /><label>Description</label>

                    <div class="ngx-editor">
                        <app-ngx-editor height="200px" [placeholder]="'Describe your question here, if required...'" [spellcheck]="true" [(ngModel)]="description" name="description"></app-ngx-editor>
                    </div>

                </div>

                <div class="col-md-6">
                   <br /> <label>Explanation</label>

                    <div class="ngx-editor">
                        <app-ngx-editor height="200px" [placeholder]="'Describe your explanation, if required...'" [spellcheck]="true" [(ngModel)]="explanation" name="explanation"></app-ngx-editor>
                    </div>
                </div>



            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <label>
                    <input type="submit" value="submit" class="btn btn-success" style="width: 250px;height:50px;">
                </label>
                </div>
            </div>


    </form>






    <div class = "input-group">
        <input type = "text" class = "form-control">
        <span class = "input-group-addon"><button class="btn btn-danger">hjrh</button></span>
     </div>
