
  <h1>Add Questions</h1>


  <div class="addnewquestions">
      <h4>Add the Questions:</h4>
      <form ngNativeValidate (submit)="postToContest()" >
      <table>
    <tr><td> Title:</td> <td><input type="text" [(ngModel)]="title" name="title" required="true"></td></tr>
    <tr><td> Domain:</td> <td><input type="text" [(ngModel)]="domain" name="domain" required="true"></td></tr>
    <tr><td>Question Keywords:</td> <td><input type="text" [(ngModel)]="keywords" name="keywords"></td></tr>
    <tr><td>Marks:</td> <td><input type="text" [(ngModel)]="marks" name="marks" required="true"></td></tr>
    <tr><td>Level</td> <td><input type="text" [(ngModel)]="Level" name="Level"></td></tr>
      <tr>Description:</tr> <tr> <app-ngx-editor (change)="change()"  [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="Description" name="Description"></app-ngx-editor></tr>
      <div [innerHTML]="Description">{{Description}}</div>

                  <tr><td><strong>Add options one by one</strong></td></tr>
                  <tr>
                    <td>Option:</td>
                    <td> <input type="text" [(ngModel)]="newoption" name="newoption" required="true"></td>
                    <td><button type="button" (click)="addOption(newoption)" class="btn btn-primary" >Add option</button></td>
                    </tr>
                    <tr>
                      <td>

                    <div *ngFor='let o of options'>
                    {{o}}
                      </div>
                      </td>
                    </tr>




    <tr><td>Answer:</td> <td><input type="text" [(ngModel)]="ans" name="ans" required="true"></td>
    <td><button type="button" (click)="addAnotherQuestion(title,domain,keywords,answer)" class="btn btn-warning">Add question</button></td>
    </tr>
<tr><input type="submit" value="submit" class="btn btn-success" ></tr>

    </table>
</form>

  </div>
