<div class = "container">
<div class="panel panel-default" style="width:720px;">

<div class="panel-heading">
  <div class="row">
    <div class="col-md-8">
  <h4>Available question papers are:</h4>
    </div>
    <div class="col-md-3">
  <form (submit)="submitQuespaper()">
    <input type="submit" value = "submit" class="btn btn-danger">
    </form>
    </div>
  </div>
</div>
  <div class="panel-body">
    <div class="content">
        <ul style="list-style: none">
            <li *ngFor="let q of question_papers ">
              <div class="row">
                <div class="col-sm-6">

                    <input type="radio" name="quespapers" [(ngModel)]="q._id" value="{{q._id}}" (change)="storeSelectedId(q._id)">&nbsp;<label>{{q.title}}</label>

                </div>

               <!-- <div *ngIf = "contest_id != ''">
                <div class="col-sm-2"><button type="button" class="btn btn-warning">Edit</button></div>
                </div>-->

                <div class="col-sm-2"><button type="button" class="btn btn-info">View</button></div>
              </div>
              <br/>
            </li>
          </ul>
      </div>

    </div>
</div>
  </div>











