

  <div class = "container">

    <div class="row">

      <div class="col-md-6">

          <div class="panel panel-default">

          <div class="panel-heading">
            <div class="row">
              <div class="col-md-8">
            <h4>Select a question paper:</h4>
              </div>
              <div class="col-md-3">
            <form (submit)="submitQuespaper()">
              <input type="submit" value = "submit" class="btn btn-danger">
              </form>
              </div>
            </div>
          </div>
            <div class="panel-body">
              <div class="content">
                  <ul class="list-group">
                      <li *ngFor="let q of question_papers; let idx =index " class="list-group-item">
                        <div class="row">
                          <div class="col-md-6">

                                <div *ngIf='is_empty_quespaper == true'>
                                <input type="radio" name="quespapers"  value="{{q._id}}" [checked]="idx === 0" (change)="storeSelectedId(q._id)">&nbsp;<label>{{q.title}}</label>
                                </div>
                                  <div *ngIf='is_empty_quespaper == false'>
                                      <input type="radio" name="quespapers"

                                      [(ngModel)]="selected_question_paper_id"
                                      value="{{q._id}}" (change)="storeSelectedId(q._id)">&nbsp;<label>{{q.title}}</label>
                                    </div>
                          </div>

                         <!-- <div *ngIf = "contest_id != ''">
                          <div class="col-sm-2"><button type="button" class="btn btn-warning">Edit</button></div>
                          </div>-->

                          <div class="col-md-2"><button type="button" class="btn btn-info" (click)="viewQuesPaper(q._id)">View</button></div>
                        </div>
                        <br/>
                      </li>
                    </ul>
                </div>

              </div>
          </div>


        </div>


        <div class="col-md-6">

            <div *ngFor='let t of sections'>
                <div class ="panel panel-default">

                  <div class = "panel-heading">

                    <div class="row">
                      <div class="col-md-6">
                      <label>Section : &nbsp;{{t.name}}</label>
                      </div>

                      </div>

                    </div>

                    <div class ="panel-body">
                      <ol>

                        <div *ngFor='let ques of t.questions'>
                          <li>
                            <table>
                              <tr>
                                <td>{{ques.title}}</td>

                                </tr>
                              </table>

                            </li>


                        </div>

                        </ol>

                    </div>


                </div>
            </div>



          </div>








    </div>
  </div>
