.getexistquestions {
  width: 700px;
  margin: 5em auto;
  padding: 10px;
  color:black;
  background-color:gainsboro;
  border-radius: 1em;
}
td{
  padding: 5px;
  spacing:3px;
}
input[type="checkbox"]{
  width:20px;
  height:20px;
}
input[type="text"]{
  width:250px;
  height:20px;
}


.collapse-question{
  display:none;
}

.display-questions{
  display: block;
}
