
input[type="checkbox"]{
  width:25px;
  height:25px;
}

.collapse-button{
 background-color:skyblue;
}


.collapse-question{
  display:none;
}

.display-questions{
  display: block;
}

