<div class="getexistquestions">


    <h2>Select the questions you want to add in the contest</h2>
    <table>
      <tr>
        <td><label>No of questions per page</label>
    <select name="no_pages" [(ngModel)]="nofpages" (change)="selected(nofpages)" >
    <option value="1">1</option>
    <option value="2" selected="true">2</option>
    <option value="3">3</option>
    </select>
    </td>
    <td>
        <label>
            Search questions:
            <input type="text" placeholder="keyword or domain" [(ngModel)]="value_of_sk" name="value_of_sk">
            <button type="button" (click)="searchQuery(value_of_sk)">Search</button>
          </label>
      </td>
    </tr>
    </table>
    <div  *ngFor='let q of questions | paginate: { itemsPerPage: nofpages, currentPage: p }'>
  <tr>
      <td><button class="collapse-button" type="button" (click)="collapse(q)" id="{{q}}">
      +
      </button>
        {{q.title}}</td>

          <td>Marks</td>
          <td><input type="text" name="q.marks" [(ngModel)]="q.marks" ></td>

      <td><input type="checkbox" name="title" value="{{q}}" (change)="pushToQuestionsArray(q,q.marks)"></td>
    </tr>
        <div [ngClass]="{'collapse-question': q.collapse_flag == false}">
          <ul>
            <div *ngFor='let o of q.options'>
              <li>{{o}}</li>
            </div>
          </ul>
          </div>


    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <button type="button" class="btn btn-success" (click)="addexistQuesToContest()">submit</button>

  <br /><label>-------------------------------------------------------------------------</label><br />

<br />
  <div *ngIf='ques_final.length != 0'>
      <h2>Select questions you want to Delete from contest</h2>
      <ul style="list-style:none">
          <div *ngFor='let q of ques_final'>
          <li>
              <button class="btn btn-primary" type="button" (click)="collapse(q)" id="{{q}}">
                  +
                  </button>
            {{q.title}}
            <button type="button" (click)="removeQuesFromArray(q)">remove question</button>

            <div [ngClass]="{'collapse-question': q.collapse_flag == true}">
                <ul>
                  <div *ngFor='let o of q.options'>
                    <li>{{o}}


                    </li>
                  </div>
                </ul>
           </div>

          </li>
          </div>
        </ul>
      </div>
    </div>

  <router-outlet></router-outlet>








