table td,th{
  padding: 7px;
  spacing:5px;
}


.images{
  width:40px;
  height: 30px;

}

#timer {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #C9302C;


}
#timer span {
  font-size: 60px;
  color: cornflowerblue;

}
#timer span:first-child {
  margin-left: 0;
}


