<div class="container" style="margin-left: 25px">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-info">

            <div class="panel-heading">
              <div class="row">

                <div class="col-md-8">
                  <h2> <label class="label label-danger" style="font-size: 30px;">{{ Name }}</label></h2>
                   <!--<h5><button type="button" class="btn btn-danger" (click)="showLeaderBoard()" [disabled]="is_contest_active == false">Show leader board</button></h5>-->
                   <h4 style="color: maroon">{{printmsg}}</h4>
                 </div>
                 <div class="col-md-4">
                     <h6>

                       <form (submit)="startTest(username)" class="form-inline">
                         <p>


                         <label>Username:</label><input type="text" [(ngModel)]="username" name="username" style="width: 130px;" class="form-control"><br />
                         <br />
                         <input type="submit" value="Start Test" class="btn btn-success"  [disabled]="is_contest_active == false" >
                         </p>
                         </form>

                      </h6>
                  </div>
                </div>

                  </div>
-


            <div class="panel-body">

                <div class="row">
                    <div class="col-md-8">
              <table class="table table-md">
                <tr>
                  <td><label>Starts at:</label></td>
                  <td>{{ starts }}</td>
                </tr>
                <tr>
                  <td><label>Ends on:</label></td>
                  <td>{{ ends }}</td>
                </tr>

                <tr>

                    <td><img src="../../assets/images/building.jpg" alt="organized by" class="images"></td>
                    <td>  --  {{company}}  </td>


                </tr>

                <tr>
                    <td><img src="../../assets/images/timer.jpg" alt="duration" class="images"></td>
                    <td>{{ time }}</td>
                  </tr>
                  <tr>
                    <br />
                    <p><i><b>" Please read the guidelines and tick the checkbox before you start the test."</b></i></p>
                    </tr>

                    <tr>
                        <label style="color: cornflowerblue"><h3>{{msg}}</h3></label>
                    </tr>


                        <tr>
                      <div *ngIf='is_contest_ended == false'>
                        <div id="timer">


                            <span id="days"></span>{{days}}days&nbsp;
                            <span id="hours"></span>{{hrs}}hrs&nbsp;
                            <span id="minutes"></span>{{min}} min&nbsp;
                            <span id="seconds"></span>{{sec}} sec&nbsp;
                          </div>
                          </div>

                      </tr>

              </table>
                    </div>

          <div class="col-md-4">
            <h4><label>Guidelines</label></h4>
            <p>
              Do not refresh or go back while the quiz is in progress.<br/><br>
             Don't forget to save your answer.<br>
             <br>
             <b>Note</b>When the answer is saved, the color of the question changes to orange.
            </p>
            <p>
           <label>   <input type="checkbox" (change)="check()">I have read and understood all the guidelines</label>
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-2">
      <div *ngIf='show_lb_flag == true'>

        <div class="row">
        <table class="table table-striped" >

          <thead>
          <tr>
            <th># Rank</th>
            <th>Username</th>
            <th># attempted</th>
            <th>Score</th>
            <th>Time taken</th>
          </tr>
          </thead>


            <tbody>
              <tr *ngFor='let r of contest_leaderboard | paginate: { itemsPerPage: nofpages, currentPage: p } ; let i = index;'>
                <td>{{i+1}}</td>
                <td>{{r.username}}</td>
                <td>{{r.no_of_questions_attempted}}</td>
                <td>{{r.score}}</td>
                <td>{{r.time_taken}}</td>
                </tr>

            </tbody>


        </table>
        </div>
        <div class="row">
            <pagination-controls (pageChange)="p = $event"

            maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"
            ></pagination-controls>
         </div>


      </div>
    </div>
  </div>
</div>


