
<form (submit)="getQuestion()">
<div *ngIf='n &lt; length' style="margin: 50px">
  <h3>Q{{n+1}}.{{ques[n].title}}</h3>

  <input type="radio" name="options" value="op1" [(ngModel)]="option">&nbsp;&nbsp;{{ques[n].op1}}<br />
  <input type="radio" name="options" value="op2"[(ngModel)]="option">&nbsp;&nbsp;{{ques[n].op2}}<br />
  <input type="radio" name="options" value="op3" [(ngModel)]="option">&nbsp;&nbsp;{{ques[n].op3}}<br />
  <input type="radio" name="options" value="op4" [(ngModel)]="option">&nbsp;&nbsp;{{ques[n].op4}}<br />

<input type="submit" value="Save & next" class="btn btn-primary">

</div>
</form>


<div *ngIf=' n == length'>

    <button type="button" (click)="calculateScore();" class="btn btn-success">Finish</button>
    </div>
